body {
  font-family: arial, sans-serif;
}

li {
  padding-left: 5px;
  padding-right: 5px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: whitesmoke;
  width: 100%;
  height: 40px;
  border-top: 1px solid lightgray;
  color: gray;
  padding: 0 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  flex-direction: row;
}

a {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
  padding: 5px;
  font-size: 12px;
}

.flex-container {
  display: flex;
  justify-content: flex-start;

}

.button {
  border: none;
  padding: 10px;
  font-weight: bold;
  color: gray;
}

.formbuttons {
  margin-left: 90px;
  margin-top: 25px;
}

.spacer{
  flex-basis: 80%;
}

.left {
  justify-content: flex-end;
}

#signin {
  color: white;
  background-color: darkcyan;
  margin-top: -9px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#logo {
  margin-top: 10%;
  align-items: center;
  justify-content: center;
}

#bottomform {
  justify-content: center;
  margin-top: 1.5%;
}

#searchbar {
  width: 450px;
  border: none;
  box-shadow: 1px 2px 5px LightGray;
  height: 40px;
}
